// Colors ---
$color1-strong: hsl(16, 100%, 80%);
$color2-strong: hsl(54, 77%, 52%);
$color3-strong: hsl(159, 60%, 60%);
$color4-strong: hsl(199, 60%, 60%);
$color1: hsl(16, 100%, 85%);
$color2: hsl(61, 97%, 87%);
$color3: hsl(159, 61%, 80%);
$color4: hsl(199, 100%, 85%);
$color-background: #ffffff;
$color-dark: #4f6174;
$color-dark-light: #4a616e;
$color-dark-faded: #4f617499;
$color-light: #ffffff;
$color-good: #81c784;
$color-bad: #db6666;
$color-adaptable: #00000070;

// Fonts ---
$font-title: 'Oswald', Helvetica, Arial, sans-serif;
$font-body: 'Poppins', Helvetica, Arial, sans-serif;

// Border ---
$border-card: 1px solid #446a5f3b;

// Transition ---
$transition-list-item: all 100ms ease-out;
$transition-slide: all 200ms cubic-bezier(0.71, 0.35, 0.01, 1.48);
$transition-loading: all 350ms ease;
$transition-slow-and-steady: all 1s ease;

// Transform ---
$image-zoom: translate(1%, -1%) scale(1.05);

// Box Shadow ---
$shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

// Filter ---
$little-light: brightness(110%);
$big-light: brightness(130%);