// Colors ---
$color1: #ffc6b2;
$color2: #fbfebd;
$color3: #acebd5;
$color4: #b2e6ff;

$color1-strong: #ffa889;
$color2-strong: #fffb9e;
$color3-strong: #5bd6ab;
$color4-strong: #5bafd6;

$color4-light: #ebf9ff;

$color-background: #ffffff;
$color-dark: #687786;
$color-dark-light: #89969d;
$color-dark-faded: #4f617499;
$color-light: #ffffff;

$color-good: #81c784;
// $color-good: #FFB74D;
$color-bad: #db6666;
$color-adaptable: #00000070;

// Fonts ---
$font-condensed: 'Oswald', Helvetica, Arial, sans-serif;
$font-regular: 'Poppins', Helvetica, Arial, sans-serif;

// Border ---
$border-card: 1px solid #446a5f3b;

// Transition ---
$quick-out: all 100ms ease-out;
$medium-balanced: all 350ms ease;
$slow-balanced: all 1s ease;

// Transform ---
$image-zoom: translate(1%, -1%) scale(1.05);
$grow: scale(1.1) translateY(-2%);
$press: scale(0.9);

// Box Shadow ---
$shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

// Filter ---
$little-light: brightness(110%);
$big-light: brightness(130%);

// viewport widths

$wide: 1200px;
$narrow: 760px;
$smallest: 560px;