// Colors ---
$color1: hsl(16, 100%, 80%);
$color1-faded: hsla(16, 100%, 80%, 0.5);
$color2: hsl(54, 77%, 52%);
$color2-faded: hsl(61, 97%, 87%);
$color3: hsla(159, 60%, 60%);
$color3-faded:hsl(159, 61%, 80%);
$color4: hsl(199, 60%, 60%);
$color4-faded: hsl(199, 100%, 85%);
$color-background: #ffffff;
$color-text: #4f6174;
$color-text-light: #4a616e;
$color-text-faded: #4f617499;
$black: #000;

// Fonts ---
$font-title: 'Oswald', Helvetica, Arial, sans-serif;
$font-body: 'Raleway', Helvetica, Arial, sans-serif;
